@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import 'primeicons/primeicons.css';


html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background: #1d1d1d;
  color: white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  touch-action: none;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background:  #1d1d1d;
} */



* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  background-image: url('/dot_grid.svg');
}

perspective-viewer {
  flex: 1 1 auto;
  --d3fc-series-1: #33FF44 !important;
}


/* Label styles removed - now handled per-component for better control */

img {
  vertical-align: middle;
  margin-left: 14px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  /* Half of 60px */
  height: 17px;
  /* Half of 34px */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  /* Half of 26px */
  width: 13px;
  /* Half of 26px */
  left: 2px;
  /* Half of 4px */
  bottom: 2px;
  /* Half of 4px */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  /* Half of 26px */
  -ms-transform: translateX(13px);
  /* Half of 26px */
  transform: translateX(13px);
  /* Half of 26px */
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
  /* Half of 34px */
}

.slider.round:before {
  border-radius: 50%;
}


perspective-viewer perspective-viewer-d3fc-candlestick button#one-year {
  display: none !important;
}


